<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="Autor" content="Gabriela Gonzalez 0048">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!----------------------- BOOTSTRAP --------------------------->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!----------------------- CSS --------------------------->
    <link rel="stylesheet" href="../assets/css/style.css">
    <!----------------------- ICONS --------------------------->
    <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous"> -->
    <link rel="shortcut icon" href="../assets/img/impulso_icon.png" type="image/x-icon">
    <!----------------------- FONTS --------------------------->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,500&display=swap" rel="stylesheet">

    <title>impulso - Cuadros Personalizados</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark color_menu fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#"><img src="../assets/img/logo_blanco.png" width="110" height="50"
                    class="img-responsive" alt="Logo
            del sitio web"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Home</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            Tipos de cuadros</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="#">Recien Nacido</a>
                            <a class="dropdown-item" href="#">transición primer año</a> <a class="dropdown-item"
                                href="#">Primer cumpleaños</a>
                            <a class="dropdown-item" href="#">Enamorados</a>
                            <a class="dropdown-item" href="#">Papá o Mamá</a>
                            <a class="dropdown-item" href="#">Mascotas</a>
                        </div>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Contacto</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!------------------------ comienza mi formulario ------------->

    <section class="container style_form p-3">
        <div class="row">
            <div class="col">
                <h3 class="text-center text-black">Registra tus datos para más información</h3>
                <form>
                    <div class="form-group">
                        <input type="text" id="nombre" class="form-control font-weight-light"
                            placeholder="Escribe tu nombre aqui">
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control font-weight-light" id="correo"
                            placeholder="Correo Electronico">
                    </div>
                    <h6 class="text-left text-black">Modelo que deseas recibir informacion</h6>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="list1" value="">
                        <label class="form-check-label" for="check1">
                            Cuadros personalizados para recien nacidos
                        </label></div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="list2" value="">
                        <label class="form-check-label" for="check2">
                            Cuadros personalizados para mascotas
                        </label></div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="list3" value="">
                        <label class="form-check-label" for="check3">
                            Cuadros personalizados para enamorados
                        </label></div>
                    <div class="form-group text-center">
                        <button type="button" onclick="mostrar_mensaje()" class="btn btn-light ">RECIBIR INFORMACION
                            AHORA</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <!----------------------- NO TOCAR --------------------------->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script src="../assets/js/main.js"></script>
</body>

</html>